/* Tipografía */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

header {
    font-family: 'Montserrat', sans-serif;
    background-color: #1E2A38;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    color: #FFC107;
    margin: 0 15px;
    text-decoration: none;
}

h1, h2 {
    font-weight: 700; /* Texto más destacado */
}

p, li {
    font-weight: 400; /* Texto normal */
}



