/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F2F2; /* Fondo gris claro */
}

header {
    background-color: #1E2A38; /* Azul oscuro */
    color: #FFFFFF; /* Blanco */
    padding: 20px;
    text-align: center;
}

nav a {
    color: #FFC107; /* Naranja */
    margin: 0 15px;
    text-decoration: none;
}

.section {
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF; /* Blanco */
    margin: 10px 20px; /* Espaciado */
    border-radius: 8px; /* Bordes redondeados */
}

footer {
    background-color: #1E2A38; /* Azul oscuro */
    color: #FFC107; /* Naranja */
    text-align: center;
    padding: 10px;
}



